{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for article in articles %}
            <div class="post-preview">
                <a href="{{ url('show',{'id' : article.id}) }}">
                    <h2 class="post-title">

                        {{ article.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ article.subtitle }}
                    </h3>
                </a>
                <p class="post-meta">Posted by {{ article.author }}
                    <a href="#">Hello</a>
                    on {{ article.createdAt|date('Y-m-d') }}</p>
            </div>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
